﻿<%@ Master Language="VB" CodeFile="MasterAfterLogin.master.vb" Inherits="MasterAfterLogin" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>FastGoCash</title>
    <%--<script src="Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>--%>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7,IE=EmulateIE8,IE=EmulateIE9,IE=EmulateIE10,IE=EmulateIE11" />
    <meta http-eqiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <%--Like this also as below--%>
    <%--<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7,IE8,IE9,IE10,IE11" />--%>

    <link href="<%= ResolveUrl("Custom_Design/css/Sidebar.css") %>" rel="stylesheet" />

    <script type="text/javascript">
        var UrlBase = '<%=ResolveUrl("~/")%>';
        //var ApplUrl = 'http://b2b.//.com/';
    </script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <%--   New CSS and JS start--%>
    <link href="<%= ResolveUrl("CSS/newcss/bootstrap.css") %>" rel="stylesheet" type="text/css" />
    <%--<link rel="stylesheet" href="<%=ResolveUrl("Custom_Design/css/bootstrap.css")%>" />--%>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="CSS/newcss/main.css" rel="stylesheet" />
    <link href="CSS/itz.css" rel="stylesheet" />
    <%-- <script type="text/javascript" src="JS/newjs/bootstrap.js"></script>
    <script type="text/javascript" src="JS/newjs/bootstrap.min.js"></script>--%>
    <script type="text/javascript" src="https://use.fontawesome.com/20e527aa02.js"></script>

    <%--   New CSS and JS start--%>
    <%--<link href="CSS/itz.css" rel="stylesheet" />
    <link href="CSS/main2.css" rel="stylesheet" />
    <link href="<%= ResolveUrl("~/CSS/main2.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= ResolveUrl("~/CSS/style.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= ResolveUrl("~/CSS/astyle.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= ResolveUrl("~/CSS/styleone.css") %>" rel="stylesheet" type="text/css" />
    --%>


    <link href="<%= ResolveUrl("~/CSS/newcss/main.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= ResolveUrl("~/CSS/lytebox.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= ResolveUrl("css/itz.css") %>" rel="stylesheet" type="text/css" />
    <link href="<%= ResolveUrl("css/app.css")%>" rel="stylesheet" type="text/css" />
    <link href="<%= ResolveUrl("css/foundation.css")%>" rel="stylesheet" type="text/css" />
    <script src="<%= ResolveUrl("~/Scripts/jquery-1.7.1.min.js")%>" type="text/javascript"></script>
    <script src="<%= ResolveUrl("~/js/lytebox.js") %>" type="text/javascript"></script>
    <script src="<%= ResolveUrl("~/JS/JScript.js") %>" type="text/javascript"></script>
    

    <style type="text/css">
	
	.back-btn {
		display:none;
		}
        @media only screen and (max-width: 500px) {
		
		.back-btn {
		display:block;
		position:absolute;
		right:11px;
		top:29px;
		background:#000;
		border-radius:4px;
		text-align:center;
		padding:3px;
		}
		
            .topBaar {
                display:none;
            }

            .name-trust {
                display:none;
            }
        }


        .logoutbtn {
            background: #ff414d;
            color: #fff!important;
            padding: 4px 6px 4px 10px;
        }

        .TNCcontent {
            max-width: 800px;
            width: 100%;
            margin: 0px auto;
            margin-bottom: 60px;
        }

        .TNCpopup {
            width: 100%;
            height: 100%;
            display: none;
            position: fixed;
            top: 0px;
            left: 0px;
            background: rgba(0,0,0,0.75);
        }

        /* Inner */
        .TNCpopup-inner {
            max-width: 700px;
            width: 90%;
            max-height: 500px;
            overflow-y: scroll;
            padding: 40px;
            position: absolute;
            top: 60%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            box-shadow: 0px 2px 6px rgba(0,0,0,1);
            border-radius: 3px;
            background: #fff;
        }

        /* Close Button */
        .TNCpopup-close {
            width: 25px;
            height: 25px;
            padding-top: 4px;
            display: inline-block;
            position: absolute;
            top: 10px;
            right: 10px;
            border-radius: 1000px;
            background: rgba(0,0,0,0.8);
            font-family: Arial, Sans-Serif;
            font-size: 20px;
            text-align: center;
            line-height: 100%;
            color: #fff;
        }
    </style>


    <style type="text/css">
        #scroll_top {
            display: inline-block;
            background-color: #FF9800;
            width: 50px;
            height: 50px;
            text-align: center;
            border-radius: 4px;
            position: fixed;
            bottom: 30px;
            right: 30px;
            transition: background-color .3s, opacity .5s, visibility .5s;
            opacity: 0;
            visibility: hidden;
            z-index: 1000;
        }

            #scroll_top::after {
                content: "\f077";
                font-family: FontAwesome;
                font-weight: normal;
                font-style: normal;
                font-size: 2em;
                line-height: 50px;
                color: #fff;
            }

            #scroll_top:hover {
                cursor: pointer;
                background-color: #333;
            }

            #scroll_top:active {
                background-color: #555;
            }

            #scroll_top.show {
                opacity: 1;
                visibility: visible;
            }
    </style>

    <script type="text/javascript">
        var btn = $('#scroll_top');

        $(window).scroll(function () {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });

        btn.on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, '300');
        });
    </script>


    <script type="text/javascript">
        function displayBaggageDetails(Airline) {
            $(".TNCpopup" + Airline).show();
        }
        function hideBaggageDetails(cls) {
            $("." + cls).hide();
        }
    </script>


    <script type="text/javascript">
        function goBack() {
            window.history.back();
        }
    </script>

</head>
<body>

    <%--<a id="scroll_top" style="z-index:1011;"></a>--%>







    <form id="form1" runat="server">

        <div class="ed-top" style="display: none;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ed-com-t1-left">
                            <ul>
                                <li><a href="#" style="color: #fff; margin-left: -79px;">Call Us : +91 79 4910 9999</a>
                                </li>
                                <%--<li><a href="#">Phone: +101-1231-1231</a>
                                </li>--%>
                                <li>
                                    <%--<i class="fa fa-circle" aria-hidden="true" style="color:orange;margin-top: 7px;"></i>--%>
                                </li>
                            </ul>
                        </div>
                        <div class="ed-com-t1-right">
                            <ul>

                                <li>
                                    <div class="pd" runat="server" id="div3" style="font-size: 12.5px !important; color: #fff; margin-top: 3px; margin-right: 18px;">
                                        <i>
                                            <img src="/Images/icons/wallet.png" style="width: 18px;" /></i>   Balance: <span id="Span1" style="font-size: 11.5px !important;"></span>&nbsp;|&nbsp;<i><img src="/Images/icons/Credit.png" style="width: 21px;" /></i>   Credit Limit:  <span id="Span2" style="font-size: 11.5px !important;"></span>&nbsp;|&nbsp;<i><img src="/Images/icons/Due.png" style="width: 25px;" /></i>   Due: <span id="Span3" style="font-size: 11.5px !important;"></span>
                                    </div>
                                </li>
                                &nbsp;
                                <li>
                                    <asp:LinkButton ID="LinkButton3" runat="server" Text="Log Out" Font-Italic="False"
                                        Font-Bold="True" OnClick="lnklogout_Click1" CausesValidation="False" Style="background: #ef3535;"></asp:LinkButton>
                                </li>

                            </ul>
                        </div>
                        <div class="ed-com-t1-social" style="display: none">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <input type='hidden' id='widget_agent_id' value='<%=Session("UID")%>' />
        <nav id="menus" class="lefts">
           <ul class="nav sidebar-nav">
                <li class="sidebar-brand abcss" >
                     <a href="#" style=" color: #fff!important;background-color: #337ab7;" >
                      <asp:Label   runat="server" ID="lblUserNameID"><%=LoginId%></asp:Label></a>                   
                </li>
              
               <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Accounts <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">                         
                            <li><a href="<%= ResolveUrl("~/Report/Accounts/Ledger.aspx")%>">Ledger</a></li>
                            <li><a href="<%= ResolveUrl("~/Report/Accounts/LedgerSingleOrderID.aspx")%>">Ledger New</a></li>
                      <%If Session("User_Type").ToString().Trim().ToUpper().Equals("AGENT") Then%>
                            <li><a href="<%= ResolveUrl("~/Report/Accounts/AgentPanel.aspx")%>">Upload Request</a></li>
                            <li><a href="<%= ResolveUrl("~/Report/Agent/UploadAmountDetails.aspx")%>">Upload Status</a></li>
                            <li><a href="<%= ResolveUrl("~/Report/Accounts/CashInFlow.aspx")%>">CashInFlow Report</a></li>
                            <li><a href="<%= ResolveUrl("~/Report/Accounts/UploadAmount.aspx")%>">Wallet Top-Up</a></li>
                            <li><a href="<%= ResolveUrl("~/Report/Accounts/StaffTransaction.aspx")%>">Staff Transaction</a></li>
                       <%End If%>
                            <li><a href="<%= ResolveUrl("~/Report/Accounts/DomSaleRegister.aspx")%>">Dom. Sale Register</a></li>
                            <li><a href="<%= ResolveUrl("~/Report/Accounts/IntlSaleRegister.aspx")%>">Intl. Sale Register</a></li>
                            <li><a href="<%= ResolveUrl("~/Report/Accounts/CommissionReport.aspx")%>">Commission Report</a></li>
                            <li><a href="<%= ResolveUrl("~/Report/Accounts/HotelSalesRegister.aspx")%>">Hotel Sale Register</a></li>
                            <li><a href="<%= ResolveUrl("~/Report/Accounts/Bankdetails.aspx")%>">Bank Details</a></li>
                      
                  </ul>
                 </li>
                 <%If Session("User_Type").ToString().Trim().ToUpper().Equals("DI") Then%>
                 <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Upload <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                      <li><a href="<%= ResolveUrl("~/Report/Accounts/AgentPanel.aspx")%>">Upload Request</a></li>
                      <li><a href="<%= ResolveUrl("~/Report/Agent/UploadAmountDetails.aspx")%>">Upload Status</a></li>
                      <li><a href="<%= ResolveUrl("~/Report/Accounts/CashInFlow.aspx")%>">CashInFlow Report</a></li>
                      <li><a href="<%= ResolveUrl("~/Report/Accounts/UploadAmount.aspx")%>">Wallet Top-Up</a></li>                      
                       <li><a href="<%= ResolveUrl("~/Report/Distr/UploadRequest.aspx")%>">Agent Upload Request</a></li>
                      <li><a href="<%= ResolveUrl("~/Report/Distr/InProcessUploadDetails.aspx")%>">InProcess Upload</a></li>
                      <%--<li><a href="<%= ResolveUrl("~/Report/Distr/RegisterAgent.aspx")%>">Add Agent</a></li>--%>                     
                      <li><a href="<%= ResolveUrl("~/Report/Admin/Agent_Details.aspx")%>">Agent Details</a></li> 
                      <li><a href="<%= ResolveUrl("~/Report/Distr/AddAgent.aspx")%>">Add Agent</a></li>
                      <li><a href="<%= ResolveUrl("~/Report/Agent/AgentTypeDetails.aspx")%>">Create GroupType</a></li>
                       <li><a href="<%= ResolveUrl("~/Report/Admin/CommissionMaster.aspx")%>">CommissionMaster</a></li> 
                      <li><a href="<%= ResolveUrl("~/Report/Agent/agent_markup.aspx")%>">Set Agent Markup</a></li> 
                       <li><a href="<%= ResolveUrl("~/Report/Agent/TypeDetailsRefresh.aspx")%>">Refresh New GroupType</a></li> 
                       <li><a href="<%= ResolveUrl("~/Report/Distr/DepositeOffice.aspx")%>">Deposite Office</a></li> 
                      <li><a href="<%= ResolveUrl("~/Report/Distr/AddBankDetails.aspx")%>">Add Bank Details</a></li> 
                  </ul>                                      
                </li>
                <%End If%>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Flight <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    
                    <li><a href="<%= ResolveUrl("~/Report/HoldPNR/HoldPNRReport.aspx")%>">Hold Pnr Report</a></li>
                    <li><a href="<%= ResolveUrl("~/Report/Refund/CancellationReport.aspx")%>">Refund Report</a></li>
                    <li><a href="<%= ResolveUrl("~/Report/Reissue/ReissueReport.aspx")%>">Reissue Report</a></li>
                    <li><a href="<%= ResolveUrl("~/Report/RejectedTicket.aspx")%>">Rejected Report</a></li>
                    <li><a href="<%= ResolveUrl("~/Report/TicketReport.aspx")%>">Ticket Report</a></li> 
                      <li><a href="<%= ResolveUrl("~/Report/TicketStatusReport.aspx")%>">Ticket Status Report</a></li> 
                      <li><a href="<%= ResolveUrl("~/Report/Agent/TravelCalender.aspx")%>">Travel Calendar</a></li> 
                       <%If Session("User_Type").ToString().Trim().ToUpper().Equals("AGENT") Then%>                      
                      <li><a href="<%= ResolveUrl("~/Report/import/PnrImportRequest.aspx ")%>">PNR Import</a></li>
                      <li><a href="<%= ResolveUrl("~/Report/proxy/Proxy.aspx")%>">Offline Request</a></li>
                       <li><a href="<%= ResolveUrl("~/Report/proxy/AgentProxyTicket.aspx")%>">Offline Status</a></li>
                      <%End If%>
                      <%--<li><a href="<%= ResolveUrl("~/Report/import/PnrImportStatus.aspx")%>">DOM PNR Import Status</a></li>
                      <li><a href="<%= ResolveUrl("~/Report/import/PnrImportStatusIntl.aspx")%>">INT PNR Import Status</a></li>--%>                                    
                  </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hotel <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                    
                    <li><a href="<%= ResolveUrl("~/Report/Hotel/HtlBookingRpt.aspx")%>">Hotel Report</a></li>
                    <li><a href="<%= ResolveUrl("~/Report/Hotel/HoldHotelBooking.aspx")%>">Hold Hotel Report</a></li>
                    <li><a href="<%= ResolveUrl("~/Report/Refund/HotelRefundReport.aspx")%>">Hotel Cancellation Report</a></li>                     
                  </ul>
                </li>
                

                <%If Session("User_Type").ToString().Trim().ToUpper().Equals("AGENT") Then%>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Setting <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">                    
                    <li><a href="<%= ResolveUrl("~/Report/Agent/Agent_markup.aspx")%>">Dom. Airline Markup</a></li>
                    <li><a href="<%= ResolveUrl("~/Report/Agent/AgentMarkupIntl.aspx")%>">Intl. Airline Markup</a></li>
                    <li><a href="<%= ResolveUrl("~/Report/Agent/AgentHtlMarkup.aspx")%>">Hotel Markup</a></li>
                    <li><a href="<%= ResolveUrl("~/BS/BusMarkup.aspx") %>">Bus Setting</a></li>
                       <%If LoginType.ToUpper().Equals("AGENT") Then%>
                    <li><a href="<%= ResolveUrl("~/Report/Agent/NewExecutive.aspx")%>">Add Staff</a></li>
                      <%End If%>
                  </ul>                                      
                </li>
                <%End If%>
               <%-- <li>
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hotel Setting<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="<%= ResolveUrl("~/Report/Agent/AgentHtlMarkup.aspx")%>">Hotel Markup</a></li>
                  </ul>
                   
                </li>--%>
                
                 <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bus <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="<%= ResolveUrl("~/BS/BusReport.aspx")%>">BUS Ticket Report</a>
                        </li>
                       <li><a href="<%= ResolveUrl("~/BS/BUSRefundReport.aspx")%>">BUS Refund Report</a>
                        </li>
                   <li><a href="<%= ResolveUrl("~/BS/BUSRejectReport.aspx")%>">BUS Reject Report</a>
                        </li>
                    <li><a href="<%= ResolveUrl("~/BS/BUSHoldPnrReport.aspx")%>">BUS Hold PNR Report</a>
                        </li>                  
                  </ul>
                </li>
                                   
                     <%If Session("User_Type").ToString().Trim().ToUpper().Equals("AGENT") Or Session("User_Type").ToString().Trim().ToUpper().Equals("DI") Then%>
                                       <li> <a href="<%= ResolveUrl("~/Report/Agent/Agent_Profile.aspx")%>">Profile</a> </li>
                     <%End If%>

                
                <li>
                 <asp:LinkButton ID="LinkButton2" runat="server" Text="Log Out" Font-Italic="False"
                                                Font-Bold="True" OnClick="lnklogout_Click1" CausesValidation="False"></asp:LinkButton> 
                </li>
                
            </ul>
          </nav>
        <button id="showmenus" class="hamburger is-closed" style="display: none;">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div class="overlay"></div>
        <!-- /menus vertical -->
        <!-- contenido de pagina, realmente no importa -->
        <script type="text/javascript">
            $(document).ready(function () {

                var trigger = $('.hamburger'),
                    overlay = $('.overlay'),
                    isClosed = false;


                trigger.click(function () {
                    hamburger_cross();
                });

                function hamburger_cross() {

                    if (isClosed == true) {
                        overlay.hide();
                        trigger.removeClass('is-open');
                        trigger.addClass('is-closed');
                        isClosed = false;
                    } else {
                        overlay.show();
                        trigger.removeClass('is-closed');
                        trigger.addClass('is-open');
                        isClosed = true;
                    }
                }

                $('[data-toggle="offcanvas"]').click(function () {
                    $('#wrapper').toggleClass('toggled');
                });




            });
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>
            $("#showmenus").click(function (e) {
                e.preventDefault();
                $("#menus").toggleClass("shows");
            });
            $("#menus a").click(function (event) {


                if ($(this).next('ul').length) {
                    $(this).next().toggle('fast');
                    $(this).children('i:last-child').toggleClass('fa-caret-down fa-caret-left');
                }
            });
        </script>







        <header>
            <div class="flyclubhead">
                 <div id="DivLoadPBal" style="display: none; left: 0; top: 0; position: fixed; width: 100%; height: 100%; z-index: 9998; background-image: url(Images/fade.png);">
            <div style="z-index: 9999; width: 30%; height: 20%; margin-right: auto; top: 150px; position: fixed; background: #fff; margin-left: 35%; padding-top: 10px; text-align: center;">
                <div>
                    <b style="vertical-align: bottom; font-size: 18px;">Loading please wait...</b>
                </div>
                <div style="clear: both;"></div>
                <div style="padding-top: 10px;">
                    <img alt="loading please wait" src="<%=ResolveUrl("~/Images/loadingAnim.gif")%>" style="width: 90px; height: 90px; position: absolute; margin-left: 40%; margin-right: auto; vertical-align: top;" />
                </div>
            </div>
        </div>
        <% Dim objMs As New FltSearch1()%>
        <% Dim umMs As String%>
        <% Dim rawurlMs As String%>
                  <div style="margin-right: 10px;" class="rgt">
                    <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true">
                    </asp:ScriptManager>

                </div>


                <div class="page-wrapper chiller-theme">
       
        <nav id="sidebar" class="sidebar-wrapper" style="z-index: 1011;">
            <div class="sidebar-content" style="">
                <div class="sidebar-brand">
                    <!--<a href="#">Faretripbox</a>-->
                   <%-- <a class="navbar-brand" href="/Faretripbox/Home.aspx" style="margin-top: -10px;">
                        <img src="/Faretripbox/Icons/logo(ft).png" alt="Image Alternative text" title="Image Title">
                    </a>--%>

                    <div id="close-sidebar" style="margin-top: 10px; position: absolute;right: 12px;">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
                    </div>
                    <div class="user-info"> 
                        <span class="user-name"><%=AgencyName%>
           
                           <%-- <strong>Kunal</strong>--%>
                        </span>
                        <span class="user-role">(<%=AgencyId%>)</span>
                        <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <%--<span>Online</span>--%>
                        </span>
                    </div>
                </div>

                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>Menu</span>
                        </li>
                        <li>
                            <a href="Search.aspx">
                                <i class="icofont-home"></i>
                                <span>Home</span>
                            </a>
                            
                        </li>
                        <li>
                            <a href="https://www.irctc.co.in/nget/train-search" target="_blank">
                                <i class="icofont-train-line"></i>
                                <span>Train</span>
                            </a>
                            
                        </li>


                        <li>
                            <a href="Search.aspx">
                                <i class="icofont-airplane-alt"></i>
                                <span>Flight</span>
                            </a>

                        </li>
                        <li>
                            <a href="#tab2default" data-toggle="tab">
                                <i class="icofont-bus-alt-3"></i>
                                <span>Bus</span>
                            </a>
                            
                        </li>

                        <li>
                            <a href="#">
                                <i class="icofont-hotel"></i>
                                <span>Hotel</span>
                            </a>
                            
                        </li>

                        <li>
                            <a href="/BillPayment.aspx">
                                <i class="icofont-stock-mobile"></i>
                                <span>Recharge</span>
                            </a>
                            
                        </li>

                        <li class="header-menu">
                            <span>General</span>
                        </li>



                         <li>
                            <a href="#">
                                <i class="fa fa-folder"></i>
                                 <span id="blc" style="font-size: 11.5px !important;"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-book"></i>
                                <span id="CrdLimit" style="font-size: 11.5px !important;"></span>
                            </a>
                        </li>
                        <li>
                            <a href="Dashboard.aspx">
                                <i class="fa fa-calendar"></i>
                                <span id="DueAmt" style="font-size: 11.5px !important;"></span>
                            </a>
                        </li>
                        
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->

        </nav>

    </div>

                <div class="topBaar" style="background: #526681;padding: 3px;color: #fff;">
            <%--<div class="container">--%>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <label style="color: #fff!important;font-size: 14px;line-height: 22px;    margin-bottom: .2rem;">Customer Care No: +91-9760443317 </label>
                            </div>
                            <div class="col-sm-6" style="text-align:right;">
                                <label style="color: #fff!important;font-size: 14px;line-height: 22px;    margin-bottom: .2rem;" class="pull-right">Support Email : info@fastgocash.com</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 text-right">
                        <p style="margin-bottom: 0px;text-align: right;">
                            <span style="font-size: 14px;line-height: 22px;    margin-bottom: .2rem;">
                                <img src="/Images/icons/wallet.png" style="width: 18px; margin-bottom: -3px;">
                                Balance:
                                <span id="newblc"> 0/-</span>                               
                            </span>
                            <span style="font-size: 14px;line-height: 22px;    margin-bottom: .2rem;">
                                <img src="/Images/icons/Credit.png" style="width: 21px; margin-bottom: -5px;">
                                Credit Limit:
                                <span id="newCrdLimit"> 0/-</span>                                
                            </span>
                            <span style="font-size: 14px;line-height: 22px;    margin-bottom: .2rem;">
                                <img src="/Images/icons/Due.png " style="width: 25px; margin-bottom: -7px;">
                                Due:
                                <span id="newDueAmt"> 0/-</span>                               
                            </span>
                        </p>
                    </div>
                    <div class="col-sm-1" style="margin-top: 2px;float: right;">
                       <asp:LinkButton ID="lnkNewLogout" runat="server" Text="Log Out" Font-Italic="False" CssClass="logoutbtn"
                            Font-Bold="True" OnClick="Logout_Click" CausesValidation="False"></asp:LinkButton>
                        
                    </div>
                </div>
            <%--</div>--%>
        </div>


                <div class="navbar navbar-default" role="navigation">
                    <div class="">
                        <div class="container">
                            <div class="row">


                                         <a id="show-sidebar" class="navbar-brand" href="#">
            <i class=""><img src="../Images/icons/profile-user.png" /></i>
        </a>
                                <div class="col-md-2 logo" style="margin-bottom: 15px;">
                                    <a href="<%= ResolveUrl("Search.aspx") %>">
                                        <img src="<%= ResolveUrl("Images/gallery/logo(ft).png")%>" alt="Header image" border="0" style="position: relative;top: 0px; width:200px;"/>
                                    </a>
                                </div>
                                <p class="name-trust" style="position:absolute;top: 65px;left: 253px;color:#526681;font-family:lucida handwriting;">a name for trust and service</p>
                                
                    
                                <a class="back-btn" onclick="goBack()">Go back</a>
                                <div class="col-md-6 hidden-xs " style="margin-top: 8px;float: right;">
                                     <div class="menuhide" style="text-align:right;font-size: small;color:#737373;margin-top: 23px; " >
                                             <%--User Id:  <asp:Label runat="server"><%=Session("firstNameITZ").ToString() %></asp:Label> ( <%=Session("AgencyId")%>)<br />--%>
                                            <%--AgencyName: <%=Session("AgencyName").ToString() %> ( <%=Session("AgencyId")%>)<br />--%>
                                           <i class="fa fa-circle" aria-hidden="true" style="color:orange;    position: absolute;top: 3px;right: 121px;"></i>Welcome !! <%--AgencyName:--%> <%=AgencyName%><br />
                                <asp:Label ID="Label1" runat="server" Style="display: none;"></asp:Label>
                                                </div>
                                        <ul class="nav navbar-nav align-set" style="display:none;">
                                           
<%--                                             <li class="menuhide"><div  class="pd" runat="server" id="divAgentBalance"> Available Balance: <span id="blc"></span> Credit Limit:  <span id="CrdLimit"></span> Due: <span id="DueAmt"></span></div></li>                                          --%>
                                            
                                        </ul>
                                  
                                    <div class="collapse navbar-collapse">
                                        <div class="large-6 medium-7 small-7   columns mtop10" style="float: right;padding-right: 0px;padding-top:10px;display: none;"> 
                                <div class="lft f13">
                        <% If Session("User_Type").ToString().Trim().ToUpper().Equals("AGENT") Then%>
                        <div id="crdrow" runat="server" style="min-height: 40px;">
                           
                            <div>
                                 
                                <asp:Label ID="lblCamt" runat="server" Style="display: none;"></asp:Label>
                            </div>
                        </div>
                     
                        <% End If%>
                        <div id="tr_AgencyID" runat="server" class="rgt padding1" style="border: 1px solid #f1f1f1; border-left: none; display: none">
                            <div class="bld">
                                Agency ID
                            </div>
                            <div id="td_AgencyID" runat="server">
                            </div>
                        </div>
                        <div class="textalignright rgt padding1" style="border: 1px solid #f1f1f1; border-left: none; display: none">
                            <div class="bld">
                                Welcome
                            </div>
                            <div>
                                <asp:Label ID="lblagency" runat="server"></asp:Label>
                            </div>
                        </div>
                    </div>
                </div>
                                        <div style="clear:both;"></div>
                                        
                                        <div id="setng2" class="cursorpointer rgt" style="margin-right: 30px; width: 130px;">
                            <%--<div class="" id="setng">
                                <img src="<%= ResolveUrl("~/Images/settings.png") %>" id="imgCtlPnl" />
                                <span class="cplnew">Control Panel</span>
                            </div>--%>
                            <div class="clear">
                            </div>

                            <%If Session("TypeID").ToString().Trim().ToUpper().Equals("ECR") Then%>
                            <div class="settings colorwhite hide" id="setng1">
                                <div>

                                    <a href="<%= ResolveUrl("~/Report/TicketReport.aspx")%>">Flight</a>
                                </div>

                                <div>

                                    <a href="<%= ResolveUrl("~/Report/Accounts/DomSaleRegister.aspx")%>">Accounts</a>
                                </div>

                                <div style="border: none;" class="f13">
                                    <asp:LinkButton ID="LinkButton1" runat="server" Text="Log Out" Font-Italic="False"
                                        Font-Bold="True" OnClick="lnklogout_Click1" CausesValidation="False"></asp:LinkButton>
                                </div>
                            </div>

                            <%Else%>

                            <div class="settings colorwhite hide" id="setng1">
                                <div>
                                    <a href="../Report/Accounts/Ledger.aspx">Ledger</a>
                                </div>
                                <div>

                                    <a href="<%= ResolveUrl("~/Report/TicketReport.aspx")%>">Flight</a>
                                </div>
                                <div>

                                    <a href="<%= ResolveUrl("~/Report/Hotel/HtlBookingRpt.aspx")%>">Hotel</a>
                                </div>

                                <%If Session("User_Type").ToString().Trim().ToUpper().Equals("ADMIN") Then%>
                                <div>
                                    <a href="<%= ResolveUrl("~/Report/agent/AgentTypeDetails.aspx")%>">Group Type</a>
                                </div>

                                <div>
                                    <a href="<%= ResolveUrl("~/Report/Admin/DomAirlineMarkup.aspx")%>">Flight Setting</a>
                                </div>
                                <div>
                                    <a href="<%= ResolveUrl("~/Report/Admin/AdminHtlMarkup.aspx")%>">Hotel Setting</a>
                                </div>
                                <%ElseIf Session("User_Type").ToString().Trim().ToUpper().Equals("AGENT") Then%>
                                <div>
                                    <a href="<%= ResolveUrl("~/Report/Agent/Agent_markup.aspx")%>">Flight Setting</a>
                                </div>
                                <div>
                                    <a href="<%= ResolveUrl("~/Report/Agent/AgentHtlMarkup.aspx")%>">Hotel Setting</a>
                                </div>
                                <%End If%>


                                <%If Session("User_Type").ToString().Trim().ToUpper().Equals("ADMIN") Then%>
                                <div>
                                    <a href="<%= ResolveUrl("~/Report/Admin/Agent_Details.aspx")%>">Agent Profiles</a>
                                </div>
                                <%End If%>


                                <%If Session("User_Type").ToString().Trim().ToUpper().Equals("ADMIN") Then%>
                                <div>
                                    <a href="<%= ResolveUrl("~/Report/Admin/ExecutiveDetails.aspx")%>">Register Executive</a>
                                </div>
                                <%End If%>
                                <div>
                                    <%--<% umMs = ""%>
                                            <% umMs = objMs.GetMUForPage("Report/Accounts/DomSaleRegister.aspx")%>
                                            <% rawurlMs = ""%>
                                            <%rawurlMs = Request.RawUrl%>
                                            <%rawurlMs = "/" & rawurlMs.Replace(rawurlMs, umMs)%>
                                            <a href="<%= rawurlMs %>">Accounts</a>--%>
                                    <a href="<%= ResolveUrl("~/Report/Accounts/DomSaleRegister.aspx")%>">Accounts</a>
                                </div>

                                <div id="hypdeal" runat="server" style='display: none'>
                                    <!-- <a href="<%= ResolveUrl("~/Report/Agent/DealSheetDomIntl.aspx") %>" target="_blank">
                                    Deal Sheet</a>-->
                                </div>


                                <%If Session("User_Type").ToString().Trim().ToUpper().Equals("ADMIN") Then%>
                                <div>
                                    <a href="<%= ResolveUrl("~/Report/Accounts/ChangePassword.aspx")%>">Change Password</a>
                                </div>
                                <%End If%>

                                <%If Session("User_Type").ToString().Trim().ToUpper().Equals("AGENT") Then%>
                                <div>
                                    <a href="<%= ResolveUrl("~/Report/Agent/Agent_Profile.aspx")%>">Profile</a>
                                </div>
                                <%End If%>

                                <div style="border: none;" class="f13">
                                    <asp:LinkButton ID="lnklogout" runat="server" Text="Log Out" Font-Italic="False"
                                        Font-Bold="True" OnClick="lnklogout_Click1" CausesValidation="False"></asp:LinkButton>
                                </div>
                            </div>

                            <%End If%>
                        </div>
                                        <div id="menutbl" style="display: none;">
                        <table style="width: 50%; margin: 0 auto; display: none;">
                            <tr>
                                <td>
                                    <asp:Menu ID="Menu1" runat="server" Orientation="Horizontal" CssClass="NavigationMenu"
                                        DynamicPopOutImageUrl="Images/right-arrow.gif" StaticPopOutImageUrl="Images/drop-arrow.gif">
                                        <StaticMenuItemStyle CssClass="staticMenuItemStyle" />
                                        <DynamicMenuItemStyle CssClass="dynamicMenuItemStyle" />
                                        <DataBindings>
                                            <asp:MenuItemBinding DataMember="MenuItem" NavigateUrlField="NavigateUrl" TextField="MenuText" />
                                        </DataBindings>
                                    </asp:Menu>
                                </td>
                            </tr>

                        </table>
                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>

        <div>
            <div id="footer_wrapper" class="hide">

                <!-- end of footer -->
            </div>
        </div>

        <div class="TNCpopup TNCpopupSG" data-popup="popup-1" style="display: none;">
            <div class="TNCpopup-inner">
                <h2><u><i>Terms & Conditions</i></u></h2>
                <p><b>•</b>	Hand bag fares available through website and selected travel agents. No free check-in baggage allowance is applicable.</p>
                <p><b>•</b>	Fare is only available for domestic sector.</p>
                <p><b>•</b>	Hand Baggage Only Fare will be available to book now 15 days in advance.</p>
                <p><b>•</b>	Hand Baggage Only Fare will only be available on direct flights only.</p>
                <p><b>•</b>	Changes and cancellations are permitted as per applicable rules and charges for hand baggage only fare.</p>
                <p><b>•</b>	Pre purchase of excess baggage should not be available under this fare.</p>
                <p><b>•</b>	For bookings made under HBOF, each of the passenger shall be allowed to carry only one (01) piece of luggage of maximum seven (07) kg. of weight (having maximum overall dimensions of: 115 cms. (L+W+H) on Boeing aircraft and 108 cms. (L+W+H) on Bombardier aircraft) in addition to a regular sized shoulder laptop bag or a lady’s handbag, free of cost.</p>
                <p>
                    <b>•</b>	If passenger bought HBAG fares and carrying Check-in Baggage at the last minute then below charges will apply:
            Passengers on these fares who wish to check baggage will be charged Fare Type Change Fee of Rs.400 at the airport for up to 15kgs. Baggage in excess of 15 Kgs is subject to a fee (Rs.350 per Kg ) to be paid at the airport at check-in.
                </p>
                <p><a onclick="hideBaggageDetails('TNCpopupSG')" href="#">Close</a></p>
                <a class="TNCpopup-close" onclick="hideBaggageDetails('TNCpopupSG')" href="#">x</a>
            </div>
        </div>
        <div class="TNCpopup TNCpopup6E" data-popup="popup-1" style="display: none;">
            <div class="TNCpopup-inner">
                <h2><u><i>Terms & Conditions</i></u></h2>
                <p><b>•</b>	Lite Fare will be available on all channels, all domestic flights except connecting flights & flights with a travel date within 15 days of booking date.</p>
                <p><b>•</b>	Lite Fare will be applicable on Retail Fare only.</p>
                <p><b>•</b>	In this fare, only 7kg Hand Baggage will be allowed.</p>
                <p><b>•</b>	No check In baggage will be allowed.</p>
                <p><b>•</b>	In case the customer reports with baggage at the airport, a fee of INR 200 will be charged at the airport for 15 KGS baggage allowance.</p>
                <p><b>•</b>	For Baggage above 15 KGS excess baggage charges as per policy will be applicable.</p>
                <p><a onclick="hideBaggageDetails('TNCpopup6E')" href="#">Close</a></p>
                <a class="TNCpopup-close" onclick="hideBaggageDetails('TNCpopup6E')" href="#">x</a>
            </div>
        </div>

    </form>


    


    <%--<script src="<%= ResolveUrl("~/Scripts/jquery-1.7.1.min.js")%>" type="text/javascript"></script>--%>

    <%--<script type="text/javascript">
        $(window).scroll(function () {
            if ($(this).scrollTop() > 100) {
                $(".flyclubhead").addClass("menusbar");
                $('.menusbar').slideDown();
            }

            else {
                $(".flyclubhead").removeClass("menusbar");
                $('.flyclubhead').slideDown();
            }

        });
    </script>--%>
    <script type="text/javascript">
        // 
        var u = window.location.pathname;
        var h = u.split('/');
        var s = "";
        for (var i = 0; i < h.length; i++) {
            if (h[i] == "SprReports") {
                s = h[i];
            }
        }
        if (s == "SprReports") {
            document.getElementById("menutbl").style.display = "block";
        }
        else { document.getElementById("menutbl").style.display = "none"; }

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#setng").unbind().click(function () {
                if ($("#setng1").is(":visible")) {
                    $("#setng1").slideUp();
                }
                else {
                    $("#setng1").slideDown();
                }
            });
            $(document).click(function (event) {
                if ($.trim($(event.target).attr("class")) != "cplnew" && $.trim($(event.target).attr("id")) != "setng" && $.trim($(event.target).attr("id")) != "imgCtlPnl") {
                    $("#setng1").slideUp();
                }
            });
            ////$("#setng").click(function () {
            ////    $("#setng1").slideDown();
            ////});
            ////$("#setng1").mouseover(function () {
            ////    $("#setng1").slideDown();
            ////});
            ////$("#hdff").mouseover(function () {
            ////    $("#setng1").hide();
            ////});
        });

        function checkOnload() {

            var koko = querySt("Rail");

            if (koko == 'not') {
                alert('Please Contact your franchise / nodal office to continue with your irctc service ');
            }
        }
    </script>

    <script type="text/javascript" language="javascript">
        function showChildLinks() {
            var x = document.getElementById("divToShow");
            x.style.visibility = "visible";
            var y = document.getElementById("divToShow2");
            y.style.visibility = "visible";
        }
        function hideChildLinks() {
            var x = document.getElementById("divToShow");
            x.style.visibility = "hidden";
            var y = document.getElementById("divToShow2");
            y.style.visibility = "hidden";
        }

    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            ////$("#aCLimit").click(function () {
            ////$("#DivLoadPBal").show();
            ////$("#ctl00_lblCamt").html("")
            $("#blc").hide();
            $("#blc").html("Not Available");
            $("#imgLoadLoginVals").show();
            try {
                $.ajax({
                    url: UrlBase + "FltSearch1.asmx/GetAgencyBal",
                    data: "",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        try {
                            //var resBal = data.d;
                            var resBal = 0;
                            var dueAmt = 0;
                            var crdLimit = 0;
                            var cmbBal = data.d

                            if (cmbBal.split('~').length > 0) {
                                resBal = cmbBal.split('~')[0];
                                if (cmbBal.split('~').length > 1) {
                                    crdLimit = cmbBal.split('~')[1];
                                }
                                if (cmbBal.split('~').length > 2) {
                                    dueAmt = cmbBal.split('~')[2];
                                }
                            }
                            if (resBal != null && resBal != "") {
                                $("#blc").html(" " + $.trim(resBal).split('.')[0] + "/-");
                                $("#newblc").html(" " + $.trim(resBal.split('.')[0]) + "/-");
                            }

                            if (crdLimit != null && crdLimit != "") {
                                $("#CrdLimit").html(" " + $.trim(crdLimit.split('.')[0]) + "/-");
                                $("#newCrdLimit").html(" " + $.trim(crdLimit.split('.')[0]) + "/-");
                            }
                            if (dueAmt != null && dueAmt != "") {
                                $("#DueAmt").html(" " + $.trim(dueAmt.split('.')[0]) + "/-");
                                $("#newDueAmt").html(" " + $.trim(dueAmt.split('.')[0]) + "/-");
                            }
                            // $("#imgLoadLoginVals").hide();
                            $("#blc").show();
                            $("#CrdLimit").show();
                            $("#DueAmt").show();
                            ////$("#DivLoadPBal").hide();                            
                        }
                        catch (err) {
                            alert(err);
                            ////$("#DivLoadPBal").hide();
                            //$("#imgLoadLoginVals").hide();
                            $("#blc").show();
                            $("#CrdLimit").show();
                            $("#DueAmt").show();
                        }
                    },
                    error: function (e, t, n) {
                        alert(t);
                        ////$("#DivLoadPBal").hide();                                                
                        //$("#imgLoadLoginVals").hide();
                        $("#blc").show();
                        $("#CrdLimit").show();
                        $("#DueAmt").show();
                    }
                });
            }
            catch (err) {
                alert(err);
                ////$("#DivLoadPBal").hide();
                // $("#imgLoadLoginVals").hide();
                $("#blc").show();
            }
            ////});
        });
    </script>
    <%-- <script type="text/javascript">
        $(document).ready(function () {
            ////$("#aCLimit").click(function () {
            ////$("#DivLoadPBal").show();
            ////$("#ctl00_lblCamt").html("")
            $("#ctl00_lblCamt").hide();
            $("#ctl00_lblCamt").html("<b>Balance Amount :</b> Not Available");
            $("#imgLoadLoginVals").show();
            try {
                $.ajax({
                    url: UrlBase + "FltSearch1.asmx/GetAgencyBal",
                    data: "",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        try {
                            var resBal = data.d;
                            if (resBal != null && resBal != "") {
                                $("#ctl00_lblCamt").html("<b>Balance Amount :</b> " + $.trim(resBal) + "/-");
                            }
                            $("#imgLoadLoginVals").hide();
                            $("#ctl00_lblCamt").show();
                            ////$("#DivLoadPBal").hide();                            
                        }
                        catch (err) {
                            alert(err);
                            ////$("#DivLoadPBal").hide();
                            $("#imgLoadLoginVals").hide();
                            $("#ctl00_lblCamt").show();
                        }
                    },
                    error: function (e, t, n) {
                        alert(t);
                        ////$("#DivLoadPBal").hide();                                                
                        $("#imgLoadLoginVals").hide();
                        $("#ctl00_lblCamt").show();
                    }
                });
            }
            catch (err) {
                alert(err);
                ////$("#DivLoadPBal").hide();
                $("#imgLoadLoginVals").hide();
                $("#ctl00_lblCamt").show();
            }
            ////});
        });
    </script>--%>
    <script type="text/javascript">
        function sortSelectOptions(selector, skip_first) {

            try {
                var options = (skip_first) ? $(selector + ' option:not(:first)') : $(selector + ' option');
                var arr = options.map(function (_, o) { return { t: $(o).text(), v: o.value, s: $(o).prop('selected') }; }).get();
                arr.sort(function (o1, o2) {
                    var t1 = o1.t.toLowerCase(), t2 = o2.t.toLowerCase();
                    return t1 > t2 ? 1 : t1 < t2 ? -1 : 0;
                });
                options.each(function (i, o) {
                    o.value = arr[i].v;
                    $(o).text(arr[i].t);
                    if (arr[i].s) {
                        $(o).attr('selected', 'selected').prop('selected', true);
                    } else {
                        $(o).removeAttr('selected');
                        $(o).prop('selected', false);
                    }
                });
            }

            catch (esc) { }
        }
    </script>
    <script type="text/javascript">
        var arr = $('select').each(function () {
            //for (i = 0; i < $('select').length; i++) {
            sortSelectOptions('#' + this.id + '', true);
            //}
        });
    </script>


    <script type="text/javascript">
        jQuery(function ($) {
            debugger;
            $(".sidebar-dropdown > a").click(function () {
                $(".sidebar-submenu").slideUp(200);
                if (
                    $(this)
                        .parent()
                        .hasClass("active")
                ) {
                    $(".sidebar-dropdown").removeClass("active");
                    $(this)
                        .parent()
                        .removeClass("active");
                } else {
                    $(".sidebar-dropdown").removeClass("active");
                    $(this)
                        .next(".sidebar-submenu")
                        .slideDown(200);
                    $(this)
                        .parent()
                        .addClass("active");
                }
            });

            $("#close-sidebar").click(function () {
                $(".page-wrapper").removeClass("toggled");
            });
            $("#show-sidebar").click(function () {
                $(".page-wrapper").addClass("toggled");
            });




        });
    </script>
    
</body>
</html>

